.background-gif::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background: url('assets/video.mp4'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    z-index: -1;
  }
